{% extends 'base.html' %}

{% block menu %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-heading">Local Tools</li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/">
              <i class="icon-holder-custom1 icon-home"></i>
              <span>Home</span>
            </a>
          </li>
          
            


          <li class="nav-heading">External Services</li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="https://keycloak.maxsessions.com">
              <i class="icon-holder-custom1 icon-keycloak"></i>
              <span>Keycloak</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="https://nginx.maxsessions.com">
              <i class="icon-holder-custom1 icon-nginx"></i>
              <span>Nginx-UI</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="https://gitlab.maxsessions.com">
              <i class="icon-holder-custom1 icon-gitlab"></i>
              <span>Gitlab</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="https://postgres.maxsessions.com">
              <i class="icon-holder-custom1 icon-postgres"></i>
              <span>Postgres</span>
            </a>
          </li>
                               
        </ul>

    </aside>
    <!-- End Sidebar-->
{% endblock %}
