{% extends 'main_menu.html' %}
{% set required_permissions = [] %}

{% block content %}
<div class="pagetitle">
  <h1>Home</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Privacy</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="container" style="max-width: 60%;">
  <div class="text-start">
      <p>
        <h1><b>Privacy Policy</b></h1>
        Effective Date: 2/7/2025
        <br>
        <br>
        <h4><b>Introduction</b></h4>
        At maxsessions.com and its respective subdomains, we respect your privacy and are committed to protecting your personal information. This Privacy Policy explains what information we collect, how we use it, and how we protect your data. By using our website, you agree to the collection and use of your information as outlined in this policy.
        <br>
        <br>
        <h5><b>1. Information We Collect</b></h5>
        When you log in to our website using Google, we collect only the email address associated with your Google account. No other personal information is collected or stored.
        <br>
        <br>
        <h5><b>2. How We Use Your Information</b></h5>
        Your email address is used solely for authentication purposes to grant or restrict access to specific tools on our website. Users with the appropriate permissions will have access to certain tools, while others will only be able to view them.
        <br>
        <br>
        <h5><b>3. Data Security</b></h5>
        We take data security seriously and implement reasonable administrative, technical, and physical measures to protect your email address from unauthorized access, alteration, disclosure.
        <br>
        <br>
        <h5><b>4. Data Retention</b></h5>
        Your email address will be stored for as long as necessary to provide you with access to the tools you are authorized to use. If you no longer require access, or you reach out to <a href="mailto:maxsessionsjr@gmail.com">maxsessionsjr@gmail.com</a> your email address will be deleted from our system.
        <br>
        <br>
        <h5><b>5. Sharing of Information</b></h5>
        We do not share your personal information with third parties. We may disclose your information if required to do so by law or to comply with a legal process.
        <br>
        <br>
        <h5><b>6. Your Rights</b></h5>
        You have the right to access, update, or delete your personal information at any time. If you wish to request access to or deletion of your email address, please contact us at <a href="mailto:maxsessionsjr@gmail.com">maxsessionsjr@gmail.com</a>.
        <br>
        <br>
        <h5><b>7. Changes to This Privacy Policy</b></h5>
        We reserve the right to update this Privacy Policy at any time. When we do, we will post the updated policy on this page and update the "Effective Date" above. Your continued use of the website after any changes signifies your acceptance of those changes.
      </p>
  </div>
</div>
{% endblock %}